@charset "UTF-8";
* {
  --radius-s: 5px;
  --h1-size: calc(2.1 * var(--font-text-size));
  --h3-size: calc(1.5 * var(--font-text-size));
  --h5-size: calc(1.2 * var(--font-text-size));
  --list-indent: calc(1.5 * var(--font-text-size));
  --p-spacing: calc(1.8 * var(--font-text-size));
  --color-red: #d4493f;
  --color-blue: #4c8bf5;
  --color-green: #1aa260;
  --color-yellow: #fbbc05;
  --file-line-width: 750px;
  font-kerning: normal;
}
*:not(pre), *:not(code) {
  text-align: justify;
  text-justify: inter-word;
}
*::before, *::after {
  text-align: justify;
  text-justify: inter-word;
}

.theme-dark {
  --color-base-00: #000;
  --color-base-10: #070707;
  --color-base-20: #111;
  --code-background: #ffffff30;
  --background-secondary: var(--color-base-10);
  --background-secondary-alt: var(--color-base-20);
}

.theme-light {
  --code-background: #0001;
}

.inline-title {
  letter-spacing: 1px;
  text-align: center;
  line-height: calc(3.5 * var(--font-text-size));
  font-size: calc(2.5 * var(--font-text-size));
  padding: 20px 0;
}

em {
  opacity: 0.7;
}

iframe {
  width: 100%;
  border-radius: 8px;
}

.markdown-rendered h1 {
  position: relative;
  margin: 20px 0;
  padding: 100px 0 15px;
  letter-spacing: 1px;
  line-height: calc(4 * var(--font-text-size));
}
.markdown-rendered h1::before {
  content: "．．．";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: rgba(170, 170, 170, 0.3333333333);
  font-size: calc(2.5 * var(--font-text-size));
}
.markdown-rendered h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: rgba(170, 170, 170, 0.2666666667);
}
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4,
.markdown-rendered h5,
.markdown-rendered h6 {
  margin: 0;
}
.markdown-rendered p {
  line-height: calc(1.8 * var(--font-text-size));
  margin: 0;
  letter-spacing: 0.5px;
}
.markdown-rendered ul,
.markdown-rendered ol {
  margin: 0;
}
.markdown-rendered ul > li,
.markdown-rendered ol > li {
  margin-bottom: 8px;
  line-height: calc(1.8 * var(--font-text-size));
  letter-spacing: 0.5px;
}
.markdown-rendered ul > li p,
.markdown-rendered ul > li p:last-of-type,
.markdown-rendered ol > li p,
.markdown-rendered ol > li p:last-of-type {
  margin-block-end: 15px;
}
.markdown-rendered ul ul,
.markdown-rendered ul ol,
.markdown-rendered ol ul,
.markdown-rendered ol ol {
  margin: 10px 0 !important;
}
.markdown-rendered div:has(> h3) {
  margin: 40px 0 25px;
}
.markdown-rendered div:has(> h3) + div:has(> p) {
  margin-block-start: 25px;
}
.markdown-rendered div:has(> h5) {
  margin-block-end: 15px;
}
.markdown-rendered div:has(> ul), .markdown-rendered div:has(> ol) {
  margin-block: 20px calc(1.2 * var(--p-spacing));
}
.markdown-rendered div:has(> p) {
  margin-block: var(--p-spacing);
}
.markdown-rendered div:has(> p):has(+ .el-table), .markdown-rendered div:has(> p):has(+ .el-ul), .markdown-rendered div:has(> p):has(+ .el-ol) {
  margin-block-end: 20px;
}
.markdown-rendered div:has(> table) {
  margin-block: 20px calc(1.2 * var(--p-spacing));
}
.markdown-rendered table {
  width: 100%;
  margin: 0;
}
.markdown-rendered table th {
  padding: 8px;
  vertical-align: middle;
}
.markdown-rendered table td {
  vertical-align: middle;
  line-height: calc(1.8 * var(--font-text-size));
}
.markdown-rendered pre {
  border-radius: 15px;
  padding: 0;
}
.markdown-rendered pre > code {
  white-space: pre;
  padding: 15px 20px;
  overflow-x: auto;
}
.markdown-rendered code {
  border-radius: 5px;
  padding: 3px 6px 4px 6px;
}
.markdown-rendered hr {
  position: relative;
  border: none;
  height: 60px;
}
.markdown-rendered hr::before {
  content: "．．．";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(170, 170, 170, 0.3333333333);
  font-weight: bold;
  font-size: calc(2.5 * var(--font-text-size));
}
.markdown-rendered mjx-container[display=true] {
  margin: calc(2 * var(--font-text-size)) 0 !important;
  font-size: calc(1.1 * var(--font-text-size));
}
.markdown-rendered mjx-container[display=true] mjx-mstyle[size=lg] {
  padding: 10px 0;
}
.markdown-rendered mjx-container[display=true] mjx-mstyle[size=Lg] {
  padding: 15px 0;
}
.markdown-rendered mjx-container[display=true] mjx-mtd {
  padding: 10px 3px !important;
}
.markdown-rendered mark {
  background: linear-gradient(to top, var(--text-highlight-bg) 0%, var(--text-highlight-bg) 50%, transparent 50%, transparent 100%);
}

blockquote {
  position: relative;
  border: none !important;
  padding: 5px 0 5px 50px !important;
  margin: 40px 0;
  font-style: italic !important;
  letter-spacing: 1px !important;
  opacity: 0.85;
}
blockquote p:first-child {
  margin-top: 0 !important;
}
blockquote p:last-child {
  margin-bottom: 0 !important;
}
blockquote::before {
  content: "“";
  position: absolute;
  left: 0;
  top: -20px;
  font-size: calc(4 * var(--font-text-size));
  color: #ddd;
}

.callout {
  padding: 15px 20px;
}
.callout .callout-title {
  gap: 6px;
  margin-bottom: 8px;
}
.callout div:has(> p) {
  margin: 0;
}
.callout p {
  margin: 8px 0 !important;
}
.callout p:first-child {
  margin-top: 0 !important;
}
.callout p:last-child {
  margin-bottom: 0 !important;
}
.callout:hover {
  opacity: 0.9;
  transition-duration: 150ms;
}

a.tag {
  border-radius: 5px;
  transition-duration: 150ms;
}
a:hover {
  color: var(--link-color) !important;
  opacity: 0.8;
}

.mermaid {
  display: flex;
  justify-content: center;
}

.canvas-node {
  --h2-size: calc(2.5 * var(--font-text-size));
}
.canvas-node .canvas-node-container .canvas-node-content.markdown-embed .markdown-embed-content .markdown-preview-view {
  padding: var(--size-4-2) var(--size-4-6);
}
.canvas-node .canvas-node-container .canvas-node-content.markdown-embed .markdown-embed-content .markdown-preview-view h2 {
  margin: var(--size-4-2) 0;
}
.canvas-node .canvas-node-container .canvas-node-content.markdown-embed .markdown-embed-content .markdown-preview-view .markdown-preview-sizer {
  height: fit-content;
  flex: 1 0 max-content;
}
.canvas-node .canvas-node-container .canvas-node-content.markdown-embed .markdown-embed-content .markdown-preview-view .markdown-preview-sizer div:has(> p),
.canvas-node .canvas-node-container .canvas-node-content.markdown-embed .markdown-embed-content .markdown-preview-view .markdown-preview-sizer div:has(> ul),
.canvas-node .canvas-node-container .canvas-node-content.markdown-embed .markdown-embed-content .markdown-preview-view .markdown-preview-sizer div:has(> ol) {
  margin: 0;
}
