* {
    --radius-s: 5px;
    --h1-size: calc(2.1 * var(--font-text-size));
    --h3-size: calc(1.5 * var(--font-text-size));
    --h5-size: calc(1.15 * var(--font-text-size));
    --list-indent: calc(1.5 * var(--font-text-size));
    --p-spacing: calc(1.8 * var(--font-text-size));
    --color-red: #d4493f;
    --color-blue: #4c8bf5;
    --color-green: #1aa260;
    --color-yellow: #fbbc05;
    --file-line-width: 750px;
    &:not(pre),
    &:not(code) {
        text-align: justify;
        text-justify: inter-word;
    }
    &::before,
    &::after {
        text-align: justify;
        text-justify: inter-word;
    }
    font-kerning: normal;
}

.theme-dark {
    --color-base-00: #000;
    --color-base-10: #070707;
    --color-base-20: #111;
    --code-background: #ffffff30;
    --background-secondary: var(--color-base-10);
    --background-secondary-alt: var(--color-base-20);
}

.theme-light {
    --code-background: #0001;
}

.inline-title {
    letter-spacing: 1px;
    text-align: center;
    line-height: calc(3.5 * var(--font-text-size));
    font-size: calc(2.5 * var(--font-text-size));
    padding: 20px 0;
}

em {
    opacity: 0.7;
}

iframe {
    width: 100%;
    border-radius: 8px;
}

.markdown-rendered {
    h1 {
        $margin-y: 20px;
        position: relative;
        margin: $margin-y 0;
        padding: 100px 0 15px;
        letter-spacing: 1px;
        line-height: calc(4 * var(--font-text-size));
        &::before {
            content: "．．．";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: $margin-y;
            text-align: center;
            color: #aaa5;
            font-size: calc(2.5 * var(--font-text-size));
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: #aaa4;
        }
    }
    h3 {
        margin: 45px 0 20px !important;
    }
    h4,
    h5,
    h6 {
        margin-block-end: 15px;
    }
    p {
        line-height: calc(1.8 * var(--font-text-size));
        margin: 0;
        letter-spacing: 0.5px;
    }
    ul,
    ol {
        margin-block-start: 15px;
        & > li {
            margin-bottom: 10px;
            line-height: calc(1.8 * var(--font-text-size));
            letter-spacing: 0.5px;
            p,
            p:last-of-type {
                margin-block-end: 15px;
            }
        }
        ul,
        ol {
            margin: 10px 0 !important;
        }
    }
    div:has(> p) {
        margin-block: var(--p-spacing);
        &:has(+ div > ul > li),
        &:has(+ div > ol > li) {
            & > p {
                margin-block-end: 15px !important;
            }
        }
    }
    div:has(> table) {
        margin-block: var(--p-spacing);
    }
    div {
        &:has(> ul > li > p),
        &:has(> ol > li > p) {
            & > ul,
            & > ol {
                margin-block-start: var(--p-spacing);
            }
        }
    }
    table {
        width: 100%;
        margin: 0;
    }
    pre {
        border-radius: 15px;
        padding: 0;
        & > code {
            white-space: pre;
            padding: 15px 20px;
            overflow-x: auto;
        }
    }
    code {
        border-radius: 5px;
        padding: 3px 6px 4px 6px;
    }
    hr {
        position: relative;
        border: none;
        height: 60px;
        &::before {
            content: "．．．";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #aaa5;
            font-weight: bold;
            font-size: calc(2.5 * var(--font-text-size));
        }
    }
    mjx-container[display="true"] {
        margin: calc(2 * var(--font-text-size)) 0 !important;
        font-size: calc(1.1 * var(--font-text-size));
        mjx-mstyle {
            &[size="lg"] {
                padding: 10px 0;
            }
            &[size="Lg"] {
                padding: 15px 0;
            }
        }
        mjx-mtd {
            padding: 10px 3px !important;
        }
    }
    mark {
        background: linear-gradient(
            to top,
            var(--text-highlight-bg) 0%,
            var(--text-highlight-bg) 50%,
            transparent 50%,
            transparent 100%
        );
    }
}

blockquote {
    position: relative;
    border: none !important;
    padding: 5px 0 5px 50px !important;
    margin: 40px 0;
    font-style: italic !important;
    letter-spacing: 1px !important;
    opacity: 0.85;
    p {
        &:first-child {
            margin-top: 0 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    &::before {
        content: "“";
        position: absolute;
        left: 0;
        top: -20px;
        font-size: calc(4 * var(--font-text-size));
        color: #ddd;
    }
}

.callout {
    padding: 15px 20px;
    .callout-title {
        gap: 6px;
        margin-bottom: 8px;
    }
    div:has(> p) {
        margin: 0;
    }
    p {
        margin: 8px 0 !important;
        &:first-child {
            margin-top: 0 !important;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    &:hover {
        opacity: 0.9;
        transition-duration: 150ms;
    }
}

a {
    &.tag {
        border-radius: 5px;
        transition-duration: 150ms;
    }
    &:hover {
        color: var(--link-color) !important;
        opacity: 0.8;
    }
}

.mermaid {
    display: flex;
    justify-content: center;
}

.canvas-node {
    --h2-size: calc(2.5 * var(--font-text-size));
    .canvas-node-container {
        .canvas-node-content.markdown-embed {
            .markdown-embed-content {
                .markdown-preview-view {
                    padding: var(--size-4-2) var(--size-4-6);
                    h2 {
                        margin: var(--size-4-2) 0;
                    }
                    .markdown-preview-sizer {
                        height: fit-content;
                        flex: 1 0 max-content;
                        div:has(> p) {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
